{% extends 'base.html.twig' %}

{% block body %}
<div class="col-12 mx-auto">
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>Банк</th>
                {% for bank in banks %}
                    <th colspan="{{ bank['count'] }}">{{ bank['name'] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="align-middle">Тариф</th>
                {% for tariff in tariffs %}
                    <th class="align-middle">{{ tariff.getName() }}</th>
                {% endfor %}
            </tr>

            <tr>
                <th class="align-middle">Стоимость</th>
                {% for tariff in tariffs %}
                    <td class="align-middle">{{ tariff.getCost() }}</td>
                {% endfor %}
            </tr>

            <tr>
                <th class="align-middle">Бесплатное обслуживание</th>
                {% for tariff in tariffs %}
                    <td class="align-middle">{{ tariff.getFreeService() }}</td>
                {% endfor %}
            </tr>

            <tr>
                <th class="align-middle">Бизнес-карты (годовое обслуживание)</th>
                {% for tariff in tariffs %}
                    <td class="align-middle">{{ tariff.getYearService() }}</td>
                {% endfor %}
            </tr>

{#            <tr>#}
{#                <th>Прием на БК/касса</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Выдача с БК</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Бесплатные ПП</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Перевод на ФЛ</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Выдача по чеку</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Комментарии</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}
        </tbody>
    </table>
</div>
{% endblock body %}
